<h1 *ngIf="add"> Create a new pony </h1>
<h1 *ngIf="!add"> Update your pony </h1>
<form (ngSubmit)="onSubmit()">
  <label>Name</label>
  <input type="text" id="name" name="name" [(ngModel)]="newPony.name" />
  <br/>

  <label>Color</label>
  <input type="text" id="color" [(ngModel)]="newPony.color" name="color" />

  <br/>

  <label>Age</label>
  <input type="text" id="age" name="age" [(ngModel)]="newPony.age" />

  <button *ngIf="add" type="submit">Save</button>
  <button *ngIf="!add" type="submit">Update</button>
</form>
